input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #595959;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
  }
  
  .spanValue{
    @include setFont($fourteenSize);
    font-size: 18px;
    line-height: 30px;
  }