@font-face {
  font-family: 'OpenSans Regular';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans Light';
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans Bold';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
/*   MAIN CLR  */
/*   ACCENT CLR   */
/*   FONT SIZES   */
p {
  margin-top: 0;
  margin-bottom: 0; }

* {
  box-sizing: border-box; }

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

li {
  list-style-type: none;
  padding-left: 0; }

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0; }

.wrapepr {
  width: 1920px;
  margin: 0 auto; }

.navigation {
  display: flex;
  justify-content: space-around;
  padding: 50px 75px;
  border-bottom: 1px solid #000000; }

.navigation-menu {
  display: flex; }

.navigation-menu {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px; }

.nav-item {
  border-bottom: 2px solid transparent;
  cursor: pointer; }
  .nav-item:not(:last-child) {
    margin-right: 72px; }
  .nav-item:hover:not(div) {
    border-bottom: 2px solid #000000; }

.cart-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
  width: 15px;
  height: 22px;
  padding: 0; }
  .cart-button::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url("../img/icon/cart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.category-item {
  position: relative; }

/*   DROPDOWN MENU   */
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  min-width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.category-link {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: black;
  padding: 20px 15px;
  display: flex; }
  .category-link:hover {
    background-color: #dddddd; }

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column; }

/*   DROPDOWN CART   */
.dropdown-order {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 400px;
  min-height: 100%;
  min-width: 400px;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #000000;
  position: absolute;
  top: 100%;
  right: 0;
  font-family: "OpenSans Regular", Helvetica, sans-serif; }
  .dropdown-order-content {
    flex: 1 0 auto; }
  .dropdown-order-title {
    font-size: 20px;
    padding-bottom: 25px;
    font-weight: 500; }
  .dropdown-order-footer {
    flex: 0 0 auto; }
  .dropdown-order-total {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 15px; }
  .dropdown-order-button {
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border: 1px solid #333;
    outline: none; }
    .dropdown-order-button:hover {
      background-color: #333333;
      color: #ffffff; }
  .dropdown-order-continue {
    margin-right: 10px; }

.homepage-head {
  display: flex;
  justify-content: flex-end;
  background-image: url("../../img/homepage/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 276px 115px 272px; }

.head-text-block {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main-header {
  font-family: "OpenSans Bold", Helvetica, sans-serif;
  font-size: 100px;
  line-height: 100px;
  color: #000000;
  margin-bottom: 50px; }

.header-description {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #8e8e8e;
  margin-bottom: 37px; }

.head-buy-button {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #000000;
  color: #000000;
  cursor: pointer;
  padding: 23px 45px; }
  .head-buy-button:hover {
    border: 2px solid transparent;
    background-color: #ff518f;
    color: #ffffff; }

.banner-head {
  display: flex;
  justify-content: space-around;
  padding-top: 185px;
  padding-bottom: 185px; }

.banner-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 120px; }

.banner-text {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 400;
  max-width: 420px;
  color: #000000;
  margin-bottom: 105px;
  text-align: right; }

.banner-button {
  width: 185px;
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #000000;
  color: #000000;
  cursor: pointer;
  padding: 23px 20px; }
  .banner-button:hover {
    background-color: #df8647;
    border: 2px solid transparent;
    color: #ffffff; }

.shop-head {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  padding-left: 250px;
  padding-right: 250px; }

.shop-footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 170px;
  padding-left: 250px;
  padding-right: 250px; }

.shop-card {
  border: 2px solid #ebebeb;
  padding: 7px 20px 25px 15px; }

.card-image {
  cursor: pointer; }

.card-item-name {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 12px; }

.card-price {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400; }

.card-cart-button {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 15px;
  height: 22px;
  left: 90%;
  padding: 0; }
  .card-cart-button::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url("../img/icon/cart.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

.category-choice-head {
  display: flex;
  justify-content: space-around;
  margin-bottom: 125px; }

.category-choice-body {
  display: flex;
  justify-content: flex-start; }

.category-choice-text {
  display: flex;
  flex-direction: column;
  align-items: center; }

.decoration-choice {
  background-image: url("../../img/homepage/discount/1.png");
  padding-top: 165px;
  padding-left: 50px;
  width: 865px;
  height: 490px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.furniture-choice {
  background-image: url("../../img/homepage/discount/2.png");
  padding-top: 165px;
  padding-left: 50px;
  width: 865px;
  height: 490px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.category-choice-header {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  margin-bottom: 30px; }

.category-choice-description {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 30px; }

.category-choice-button {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #000000;
  color: #000000;
  cursor: pointer;
  padding: 10px; }
  .category-choice-button:hover {
    border: 2px solid transparent;
    background-color: #9aac5f;
    color: #ffffff; }

.footer {
  display: flex;
  background-color: #333333;
  justify-content: space-around;
  padding-top: 85px;
  padding-bottom: 90px; }

.description-block {
  display: flex;
  flex-direction: column; }

.footer-logo {
  margin-bottom: 30px; }

.description {
  width: 453px;
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff; }

.contact-block {
  display: flex;
  flex-direction: column; }

.contact-header {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 32px; }

.contact {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff; }
  .contact:not(:last-child) {
    margin-bottom: 22px; }

/*# sourceMappingURL=style.css.map */
