.navigation {
  display: flex;
  padding: 50px 75px;
  border-bottom: 1px solid $mainDarkClr;
}

.navigation-logo {
  margin-right: 465px;
}

.navigation-menu {
  display: flex;
  margin-right: 610px;
}

.navigation-menu {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $mainDarkClr;
}

.nav-item {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  &:not(:last-of-type) {
    margin-right: 72px;
  }
  &:hover {
    border-bottom: 2px solid $mainDarkClr;
  }
}

.cart-button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: relative;
    width: 25px;
    height: 25px;
    &::before{
        position: absolute;
        content: '';
        width: 15px;
        height: 22px;
        top: 0;
        left: 0;
        background-image: url('../img/icon/cart.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}