@import "../variables";
@import "../mixin";

.page-head {
  background-image: url("../../img/cart/shop-bg.png");
  @include backgroundSet;
  padding: 110px 0 110px 230px;
}

.cart-title {
  @include setFont($thirtysixSize);
}

.cart-body {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  display: flex;
  padding-top: 30px;
  &-wrapper {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 75px;
  }
}

.billing {
  flex-grow: 1;
  padding-right: 100px;
  &-title {
    font-size: 20px;
    padding-bottom: 24px;
    font-weight: 500;
  }
  &-button {
    text-align: center;
    &-body {
      padding: 20px 40px 20px 40px;
      cursor: pointer;
      border: 1px solid #333;
      font-family: "OpenSans Regular", Helvetica, sans-serif;
      transition: all .4s ease-in-out;
      outline: none;
      &:hover {
        background-color: $footerBackround;
        color: $mainLightClr;
      }
    }
  }
}

.input-text {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  padding: 0 0 9px;
  margin-bottom: 33px;
  font-size: 15px;
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  &::placeholder {
    color: #333;
  }
}
.half {
  display: flex;
}
.input-half {
  flex-grow: 1;
  &:first-child {
    margin-right: 30px;
  }
}
.input-full {
  width: 100%;
}
.textarea-body {
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  padding: 0 0 9px;
  margin-bottom: 33px;
  font-size: 15px;
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  width: 100%;
  &::placeholder {
    color: #333;
  }
}

.radio {
  display: flex;
  margin-bottom: 40px;
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  &-payment {
    margin-right: 7px;
  }
}
.order {
  flex-grow: 1;
  &-title {
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
  }
  &-total {
    padding-top: 25px;
    font-family: "OpenSans Regular", Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
  }
}
.parent-error {
  position: relative;
}
.error {
  display: none;
  position: absolute;
  left: 0;
  top: 55%;
  color: #D71E02;
  font-size: 12px;
}
.error-radio {
  top: 90%;
}