@mixin mainSet {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  html * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  button,
  button:active,
  button:focus {
    outline: none;
  }
}

@mixin listReset {
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  li {
    list-style-type: none;
    padding-left: 0;
  }
}

@mixin linkSet {
  a {
    color: $mainDarkClr;
    text-decoration: none;
    cursor: pointer;
  }
}

@mixin headingReset {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@mixin pm_zeroSet() {
  padding: 0;
  margin: 0;
}

@mixin padding($pt, $pr, $pb, $pl) {
  padding-top: $pt;
  padding-right: $pr;
  padding-bottom: $pb;
  padding-left: $pl;
}

@mixin margin($mt, $ml, $mb, $mr) {
  margin-top: $mt;
  margin-left: $ml;
  margin-bottom: $mb;
  margin-right: $mr;
}

@mixin flex($fd: row, $jc: center, $ai: center, $fw: wrap) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
}

@mixin backgroundSet {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin buttonSet {
  background-color: transparent;
  border: 2px solid $mainDarkClr;
  color: $mainDarkClr;
  cursor: pointer;
}

@mixin font($fs, $lh, $fw: 400) {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
}

@mixin setFont($size) {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: $size;
  line-height: $size;
  font-weight: 400;
}

@mixin placeholderSet() {
  ::-webkit-input-placeholder {
    font-style: italic;
  }
  :-moz-placeholder {
    font-style: italic;
  }
  ::-moz-placeholder {
    font-style: italic;
  }
  :-ms-input-placeholder {
    font-style: italic;
  }
}
