@import "fonts";
@import "variables";
@import "mixin";

@include mainSet();
@include listReset();
@include linkSet();
@include headingReset();
@include placeholderSet();

@import "common/navigation";
@import "common/small-item-cards";
@import "common/footer";