{
    "env": {
        "es6": true
    },
    "parser": "babel-eslint",
    "rules": {
        "semi": "error",
        "no-multiple-empty-lines": "error",
        "no-inline-comments": "error",
        "no-var": "error",
        "eqeqeq": "error",
        "no-empty-function": "error",
        "no-console": "error",
        "no-extra-semi": "error"
    }
}