.categories {
  background-image: url(../img/sections/main.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 75px;
  padding-bottom: 170px;
}

.categories__container {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}

.categories__main-header {
  @include sectionHeader();
  margin-bottom: 75px;
  display: flex;
}

.categories__card-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories__content {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories__img--single {
  background-image: url("../img/bike/1.png");
  width: 346px;
  height: 288px;
}
.categories__img--series {
  background-image: url("../img/bike/2.png");
  width: 346px;
  height: 288px;
}
.categories__img--city {
  background-image: url("../img/bike/3.png");
  width: 346px;
  height: 288px;
}

.categories__header {
  font-family: "Roboto Bold", Arial Bold, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: $categoriesTextAccent;
  margin-bottom: 15px;
}
.categories__text {
  font-family: "Roboto Light", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: $categoriesTextClr;
  margin-bottom: 25px;
}
.categories__button {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 15px 20px;
  opacity: 0;
  color: $categoriesTextClr;
}

.categories__content:hover {
  .categories__button {
    opacity: 100;
    transition: 0.5s;

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
      border-bottom: 288px solid rgba(252, 255, 25, 0.1);
      border-right: 346px solid transparent;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1037px) {
  .categories__card-items {
    justify-content: center;
  }
  .categories__card-item--margin {
    margin-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .categories__card-items {
    justify-content: center;
  }
  .categories__card-item--margin {
    margin-right: 10px;
  }
  .categories__content {
    &:first-child{
      margin-right: 20px;
    }
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .categories {
    padding-bottom: 0;
  }
  .categories__card-items {
    justify-content: center;
  }
  .categories__card-item {
    margin-bottom: 20px;
  }
  .categories__card-item--margin {
    margin-right: 10px;
  }
  .categories__image {
    width: 300px;
    height: 275px;
  }
  .categories__content {
      margin-bottom: 20px;

  }
}
