@include buttonSet();

.header-slider {
  background-image: url(../img/sections/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-slider__container {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.header-slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header-slider__logo {
  margin-bottom: 28vw;
  display: flex;
  align-self: center;
}

h1 {
  font-family: "Roboto Bold", Arial Bold, sans-serif;
  font-size: 50px;
  line-height: 53px;
  color: $sliderTextClr;
  margin-bottom: 25px;
}

.header-slider__motto {
  font-family: "Roboto Thin", Arial, sans-serif;
  font-size: 28px;
  line-height: 31px;
  color: $sliderTextClr;
}

.header-slider__motto--yellow {
  color: $sliderTextAccent;
}

.header-slider__button {
  margin-top: 25px;
  padding: 15px 25px;
  background-color: #000000;
  color: $sliderTextAccent;
  border-radius: 10px;
  margin-bottom: 33.8vw;
  border: 2px solid transparent;
  &:hover {
    transition: 0.3s;
    border: 2px solid $sliderTextAccent;
  }
}

.header-slider__toggle {
  position: absolute;
  top: 38.3vw;
  &:hover {
    transition: 0.3s;
    filter: brightness(0.4);
  }
}

.header-slider__toggle--left {
  left: 25px;
}
.header-slider__toggle--right {
  right: 25px;
}

.header-slider__scroll {
  margin-bottom: 30px;
  &:hover {
    transition: 0.3s;
    filter: hue-rotate(364deg) sepia(1) saturate(7.5) brightness(3);
  }
}

.slider__buttons{
  display: flex;
  padding-left: 300px;
  padding-right: 300px;
}

.slider__button{
  width: 385px;
  background-color: transparent; 
  border: none;
  height: 4px;
}

.slider__button:not(:last-of-type){
  margin-right: 40px;
}

.slider__active-button{
  background-color: $categoriesTextAccent;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 45px;
    line-height: 47px;
    text-align: center;
  }
  .header-slider__motto {
    font-size: 26px;
    text-align: center;
  }

  .header-slider__scroll {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .header-slider__content {
  text-align: center;
  }
  h1 {
    font-size: 35px;
    line-height: 37px;
  }
  .header-slider__motto {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
  .header-slider__toggle,
  .header-slider__scroll,
  .slider__buttons {
    display: none;
  }
}

@media (max-width: 320px){
  .header-slider__toggle,
  .header-slider__scroll,
  .slider__buttons {
    display: none;
  }
}

