$HeaderClr: #000000;

$sliderTextClr:#ffffff;
$sliderTextAccent:#fcff19;

$categoriesTextClr:#ffffff;
$categoriesTextAccent:#fcff19;

$popularLightTextClr:#ffffff;
$popularDarkTextClr:#000000;
$popularsButClr: #b7b7b7;
$popularButHover:#000000;
$popularBorderClr:#8f8f8f;
$popularTextAccent:#fcff19;

$formInputTextClr:#808080;
$formUnputBorderClr:#8f8f8f;

$footerNavClr:#000000;
$footerBgClr:#fcff19;