.about-us {
  display: flex;
  justify-content: space-around;
  margin-bottom: 125px;
  position: relative;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.about-img {
  width: 512px;
  height: 609px;
}

.about-header {
  @include setFont($thirtysixSize);
  margin-bottom: 30px;
}

.about-description {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 700px;
  margin-bottom: 30px;
  text-align: justify;
}

.about-signature-name {
  @include setFont($eighteenSize);
  line-height: 35px;
  max-width: 700px;
}

.texture {
  position: absolute;
  width: 500px;
  height: 600px;
  top: -10%;
  left: 20%;
  z-index: -1;
}