.carousel {
  position: relative;
}

.head-text-block {
  position: absolute;
  top: 25%;
  left: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  font-family: "OpenSans Bold", Helvetica, sans-serif;
  font-size: 7em;
  color: $mainLightClr;
  margin-bottom: 50px;
}

.header-description {
  @include setFont($thirtysize);
  font-size: 2em;
  color: $mainLightClr;
  margin-bottom: 37px;
}

.head-buy-button {
  @include setFont($thirtysize);
  font-size: 2em;
  padding: 23px 45px;
  transition: all 0.4s ease-in-out;
  color: $mainLightClr;
  border: 2px solid $mainLightClr;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    border: 2px solid transparent;
    background-color: $headAccentClr;
    color: $mainLightClr;
  }
}

.slider-img {
  filter: brightness(50%);
}

@media(max-width: 1748px){
  .main-header {
    font-size: 5em;
    margin-bottom: 0.5em;
  }
  .header-description {
    font-size: 2em;
    margin-bottom: 1.5em;
  }
  .head-buy-button {
    @include setFont($thirtysize);
    font-size: 2em;
    padding: 0.5em 1em;
  }
}