/*   MAIN CLR  */
/*   ACCENT CLR   */
/*   FONT SIZES   */
.page-head {
  background-image: url("../../img/cart/shop-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px 0 110px 230px; }

.cart-title {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400; }

.item-card {
  display: flex;
  margin-top: 80px;
  margin-left: 60px; }

.item-card__mini-reviewer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap; }
  .item-card__mini-reviewer img {
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .1s ease-in-out; }
    .item-card__mini-reviewer img:hover {
      border-radius: 10px;
      border: 2px solid #636363; }

.item-card__max-reviewer {
  margin-left: 50px; }
  .item-card__max-reviewer img {
    border: 1px solid #cccccc; }

.item-card__info-of-good {
  margin-left: 40px; }
  .item-card__info-of-good .item-card__info-of-good--title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    color: black;
    text-align: center; }
  .item-card__info-of-good .item-card__info-of-good--price {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 5px;
    color: #373737; }
  .item-card__info-of-good .item-card__info-of-good--description {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 45px;
    color: #373737;
    max-width: 410px; }
  .item-card__info-of-good .item-card__info-of-good--id {
    margin-top: 35px; }

.buy-block {
  display: flex;
  margin-top: 55px; }
  .buy-block .amount-of-goods {
    display: flex;
    width: 90px; }
    .buy-block .amount-of-goods .amount-of-goods__int {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 60%;
      border: 1px solid #000; }
    .buy-block .amount-of-goods .amount-of-goods__counter {
      width: 40%;
      border: 1px solid #000;
      border-left: none;
      text-align: center; }
      .buy-block .amount-of-goods .amount-of-goods__counter .plus-one {
        height: 50%;
        border-bottom: 1px solid #000;
        cursor: pointer; }
        .buy-block .amount-of-goods .amount-of-goods__counter .plus-one:hover {
          background-color: #dddddd; }
        .buy-block .amount-of-goods .amount-of-goods__counter .plus-one:active {
          background-color: #cbdac7; }
      .buy-block .amount-of-goods .amount-of-goods__counter .minus-one {
        height: 50%;
        cursor: pointer; }
        .buy-block .amount-of-goods .amount-of-goods__counter .minus-one:hover {
          background-color: #dddddd; }
        .buy-block .amount-of-goods .amount-of-goods__counter .minus-one:active {
          background-color: #cbdac7; }

.buy-block__button .item-card-btn {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  border: 1px solid #000000;
  background-color: transparent;
  padding: 10px 25px;
  color: #373737;
  cursor: pointer;
  transition: all 0.4s ease-in-out; }
  .buy-block__button .item-card-btn:hover {
    border: 1px solid transparent;
    background-color: #6e9e63;
    color: #ffffff; }

.item-card__info-of-good--id {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  color: #525252; }

.product-rating {
  margin-top: 10px; }

.review-form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 70px; }
  .review-form input {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    min-width: 800px;
    height: 50px;
    display: block;
    border: none;
    border-bottom: 1px solid #000;
    margin-top: 30px; }
  .review-form .review-info__add-review {
    font-weight: 700px;
    font-size: 28px; }
  .review-form .review-info__sub-info {
    font-style: italic;
    font-size: 14px; }
  .review-form .review-info__rating {
    font-size: 21px;
    line-height: 50px; }
  .review-form textarea {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    min-width: 800px;
    border: none;
    border-bottom: 1px solid #000;
    margin-top: 30px;
    height: 100px; }
  .review-form button[type="submit"] {
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    display: block;
    margin-bottom: 40px;
    margin-top: 10px;
    padding: 10px;
    min-width: 150px;
    border: 1px solid #000;
    background-color: transparent; }
  .review-form .review-info p {
    padding: 0;
    margin: 0; }
  .review-form .chose-rating {
    margin-top: 10px; }

.review-block .review-item {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  max-width: 800px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-top: 70px; }
  .review-block .review-item .user-avatar {
    margin-right: 50px;
    display: inline; }
    .review-block .review-item .user-avatar img {
      border: 1px solid #cccccc; }

.review-block .review-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 640px; }
  .review-block .review-title .user-name {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    padding-top: 5px; }

.review-block .review-date {
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  opacity: 0.5; }

.review-block .review-content {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 15px;
  line-height: 25px; }

.hidden {
  display: none; }

button.submit-item-card-btn {
  transition: all 0.4s ease-in-out; }
  button.submit-item-card-btn:hover {
    border: 1px solid transparent;
    background-color: #6e9e63;
    color: #ffffff; }

.switches {
  margin-top: 50px; }
  .switches .description-window__btn,
  .switches .review-window__btn {
    font-size: 16px;
    line-height: 1.875;
    font-weight: 400;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: black; }
  .switches .description-window__btn {
    margin-right: 50px; }
  .switches .non-active {
    opacity: 0.5; }

.description-section {
  display: flex;
  margin-top: 80px;
  margin-bottom: 40px; }

.description-block__info {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 75px; }
  .description-block__info img {
    border: 1px solid #cccccc;
    max-width: 400px; }
  .description-block__info .description-block__info--content {
    max-width: 200px; }
    .description-block__info .description-block__info--content .features-of-good {
      font-size: 16px;
      line-height: 1.875;
      font-weight: 400;
      margin-top: 25px;
      margin-bottom: 25px;
      color: #525252; }

.description-block__portfolio img {
  max-width: 500px; }

.hidden {
  display: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 50px;
  font-family: 'OpenSans Regular', sans-serif; }
