.page-head {
    background-image: url("../../img/cart/shop-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 110px 0 110px 230px;
  }
  
  .cart-title {
    font-family: "OpenSans Regular", Helvetica, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }