.banner-head {
  display: flex;
  justify-content: space-around;
  padding-top: 185px;
  padding-bottom: 185px;
}

.banner-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 120px;
}

.banner-text {
  @include setFont($seventySize);
  max-width: 420px;
  color: $mainDarkClr;
  margin-bottom: 105px;
  text-align: right;
}

.banner-button {
  width: 185px;
  @include setFont($twentySize);
  @include buttonSet();
  padding: 23px 20px;
  &:hover {
    background-color: $bannerAccentClr;
    border: 2px solid transparent;
    color: $mainLightClr;
  }
}
