.wrapepr {
  width: 1920px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-around;
  padding: 50px 75px;
  border-bottom: 1px solid $mainDarkClr;
}

.navigation-menu {
  display: flex;
}

.navigation-menu {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.nav-item {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 72px;
  }
  &:hover:not(div) {
    border-bottom: 2px solid $mainDarkClr;
  }
}

.cart-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
  width: 15px;
  height: 22px;
  padding: 0;
  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url("../img/icon/cart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.category-item {
  position: relative;
}

/*   DROPDOWN MENU   */

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: $mainLightClr;
  min-width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.category-link {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: black;
  padding: 20px 15px;
  display: flex;
  &:hover {
    background-color: $dropdownHover;
  }
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/*   DROPDOWN CART   */

.dropdown-order {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 400px;
  min-height: 100%;
  min-width: 400px;
  padding: 30px;
  background-color: $mainLightClr;
  border: 1px solid black;
  position: absolute;
  top: 100%;
  right: 0;
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  &-content {
    flex: 1 0 auto;
  }
  &-title {
    font-size: 20px;
    padding-bottom: 25px;
    font-weight: 500;
  }
  &-footer {
    flex: 0 0 auto;
  }
  &-total {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 15px;
  }
  &-button {
    padding: 15px 40px 15px 40px;
    cursor: pointer;
    border: 1px solid #333;
    outline: none;
    &:hover {
      background-color: $footerBackround;
      color: $mainLightClr;
    }
  }
}
