.footer {
  display: flex;
  background-color: $footerBackround;
  justify-content: space-around;
  padding-top: 85px;
  padding-bottom: 90px;
}

.description-footer-block {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  cursor: pointer;
  margin-bottom: 30px;
}

.description {
  width: 453px;
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: $mainLightClr;
}

.contact-block {
  display: flex;
  flex-direction: column;
}

.contact-header {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: $mainLightClr;
  margin-bottom: 32px;
}

.contact {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $mainLightClr;
  &:not(:last-child) {
    margin-bottom: 22px;
  }
}

.contact-web{
  cursor: pointer;
}