.wrapepr {
  width: 1920px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-around;
  padding: 50px 75px;
  border-bottom: 1px solid $mainDarkClr;
}

.header-logo{
  cursor: pointer;
}

.navigation-menu {
  display: flex;
}

.navigation-menu {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.nav-item {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 72px;
  }
  &:hover:not(div) {
    border-bottom: 2px solid $mainDarkClr;
  }
}

.cart-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
  width: 15px;
  height: 22px;
  padding: 0;
  outline: none;
  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url("../img/icon/cart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.category-item {
  position: relative;
}

/*   DROPDOWN MENU   */

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: $mainLightClr;
  min-width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.category-link {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: black;
  padding: 20px 15px;
  display: flex;
  &:hover {
    background-color: $dropdownHover;
  }
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/*   MODAL CART   */
.modal-order {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  &-body {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    min-width: 600px;
    padding: 30px;
    background-color: $mainLightClr;
    border: 1px solid $mainDarkClr;
    position: relative;
    font-family: "OpenSans Regular", Helvetica, sans-serif;
  }
  &-close {
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    top: 1%;
    right: 1%;
  }
  &-content {
    padding-bottom: 15px;
    max-height: 500px;
    overflow: auto;
    flex: 1 0 auto;
  }
  &-item {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-pic {
    border: 1px solid black;
    vertical-align: middle;
    max-width: 100px;
    max-height: 100px;
  }
  &-info {
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
  }
  &-delete {
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    top: 1%;
    right: 1%;
  }
  &-name {
    margin-bottom: 15px;
    flex-basis: 100%;
  }
  &-numinfo {
    align-self: flex-end;
    display: flex;
  }
  &-amount {
    display: flex;
    width: 90px;
    margin-right: 15px;
    &-init {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 60%;
      border: 1px solid #000;
    }
    &-counter {
      width: 40%;
      border: 1px solid #000;
      border-left: none;
      text-align: center;
    }
    &-plus {
      height: 50%;
      border-bottom: 1px solid #000;
      cursor: pointer;
    }
    &-minus {
      height: 50%;
      cursor: pointer;
    }
  }
  &-sum {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-title {
    font-size: 20px;
    padding-bottom: 25px;
    font-weight: 500;
  }
  &-footer {
    flex: 0 0 auto;
  }
  &-total {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 15px;
    text-align: right;
  }
  &-button {
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border: 1px solid #333;
    outline: none;
    &:hover {
      background-color: $footerBackround;
      color: $mainLightClr;
    }
  }
  &-continue {
    margin-right: 10px;
  }
}




