.shop-card {
  border: 3px solid $cardBorder;
  padding: 7px 20px 25px 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  height: fit-content;
  transition: all 0.2s ease-in-out;
  &:hover {
    border: 3px solid;
  }
  &:not(:last-of-type) {
    margin-right: 25px;
  }
}

.card-image {
  cursor: pointer;
}

.card-item-name {
  @include setFont($eighteenSize);
  margin-bottom: 12px;
}

.card-price {
  @include setFont($fourteenSize);
}

.card-cart-button {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 15px;
  height: 22px;
  left: 90%;
  padding: 0;
  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url("../img/icon/cart.png");
    @include backgroundSet();
  }
}