/*   MAIN CLR  */
/*   ACCENT CLR   */
/*   FONT SIZES   */
.page-head {
  background-image: url("../../img/cart/shop-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px 0 110px 230px; }

.cart-title {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400; }

.cart-body {
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  display: flex;
  padding-top: 30px; }
  .cart-body-wrapper {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 75px; }

.billing {
  flex-grow: 1;
  padding-right: 100px; }
  .billing-title {
    font-size: 20px;
    padding-bottom: 24px;
    font-weight: 500; }
  .billing-button {
    text-align: center; }
    .billing-button-body {
      padding: 20px 40px 20px 40px;
      cursor: pointer;
      border: 1px solid #333;
      font-family: "OpenSans Regular", Helvetica, sans-serif;
      transition: all .4s ease-in-out;
      outline: none; }
      .billing-button-body:hover {
        background-color: #333333;
        color: #ffffff; }

.input-text {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  padding: 0 0 9px;
  margin-bottom: 33px;
  font-size: 15px;
  font-family: "OpenSans Regular", Helvetica, sans-serif; }
  .input-text::placeholder {
    color: #333; }

.half {
  display: flex; }

.input-half {
  flex-grow: 1; }
  .input-half:first-child {
    margin-right: 30px; }

.input-full {
  width: 100%; }

.textarea-body {
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  padding: 0 0 9px;
  margin-bottom: 33px;
  font-size: 15px;
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  width: 100%; }
  .textarea-body::placeholder {
    color: #333; }

.radio {
  display: flex;
  margin-bottom: 40px;
  font-family: "OpenSans Regular", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px; }
  .radio-payment {
    margin-right: 7px; }

.order {
  flex-grow: 1; }
  .order-title {
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: 500; }
  .order-total {
    padding-top: 25px;
    font-family: "OpenSans Regular", Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500; }

.parent-error {
  position: relative; }

.error {
  display: none;
  position: absolute;
  left: 0;
  top: 55%;
  color: #D71E02;
  font-size: 12px; }

.error-radio {
  top: 90%; }
